!!!
%html
  %head
    %title BattleShips
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/styles.css'}
    %script(src='//code.jquery.com/jquery-1.11.2.min.js')
    %script(src='application.js')
  %body
    %h1.title It's Game Time
    %p#xValue
    %p#yValue
    %canvas#board-canvas